<div id="checkout_saved-view" data-init="app.views.checkout_saved.init"
     data-before-show="app.views.checkout_saved.beforeShow"
     data-show="app.views.checkout_saved.show"
     data-role="view" data-title="Checkout"
     data-model="app.views.checkout_saved.viewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-transition="slide:left reverse" data-role="button"
               href="#confirm-view">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <div class="view-content">
        <table class="foodsby-form account">
            <thead>
            <tr>
                <th>Credit Card Information</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="foodsby-dropdown no-padding no-margin">
                    <input id="cs-select-card"/>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="foodsby-form account start-hidden">
            <thead>
            <tr>
                <th>Promotion Code</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="code-entry" placeholder="Enter Coupon Code"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="code-caption"></div>

        <div class="ops-buttons">
            <div data-role="button" class="code-apply" data-bind="click: onPromoCode">Apply Code</div>
            <div data-role="button" class="checkout_saved" data-bind="click: onRegister">Place Order</div>
        </div>
    </div>
    <footer data-role="footer">
        <table class='foodsby'>
            <tr>
                <th>Subtotal</th>
                <td class='subtotal'>$0.00</td>
            </tr>
            <tr class='discount-row start-hidden'>
                <th>Discount</th>
                <td class='discount'>$0.00</td>
            </tr>
            <tr>
                <th>Delivery</th>
                <td class='delivery'>$0.00</td>
            </tr>
            <tr>
                <th>Tax</th>
                <td class='tax'>$0.00</td>
            </tr>
            <tr class='emphasize'>
                <th>Total</th>
                <td class='total bold'>$0.00</td>
            </tr>
        </table>
    </footer>
</div>