<div id="profile-view" data-init="app.views.profile.init"
     data-before-show="app.views.profile.beforeShow"
     data-show="app.views.profile.show"
     data-role="view" data-title="User Profile"
     data-model="app.views.profile.viewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-transition="slide:left reverse" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <div class="view-content no-pad">
        <ul data-role="listview">
            <li>
                <p>Tap the pencil icon to edit your information.</p>
            </li>
            <li>
                <h4>
                    Your Contact Information
                    <a class='edit' data-rel="modalview" href="#modalview-contact" data-role="button"
                       data-icon="compose"></a>
                </h4>
                <ul class='details'>
                    <li>
                        <span data-bind="text: first"></span> <span data-bind="text: last"></span>
                    </li>
                    <li data-bind="text: email"></li>
                    <li data-bind="text: phone"></li>
                </ul>
            </li>
            <li id='profile-default-card'>
                <h4>
                    Your Default Credit Card
                    <a class='edit' data-role="button" data-bind="click: onEditCard" data-icon="compose"></a>
                </h4>
                <ul>
                    <li class='details'><input id='profile-card'/></li>
                </ul>
            </li>
            <li>
                <h4>
                    Change Your Password
                    <a class='edit' data-rel="modalview" href="#modalview-password" data-role="button"
                       data-icon="compose"></a>
                </h4>
                <ul class='details'>
                    <li>**********</li>
                </ul>
            </li>
            <li style="border-bottom: none;">
                <h4>
                    Enable Text Message Notifications
                </h4>
            </li>
            <li style="border-top: none; margin-top: -0.5em; margin-left: 3em;">
                <label>When deliveries are made
                    <input type="checkbox" data-bind="click: onEnableSMS, checked: sms"/> 
                </label>
            </li>
        </ul>
    </div>

    <div data-role="modalview" id="modalview-contact" style='height:75%;width:90%;border:1px solid #555;'>
        <table class="foodsby-form m-contact">
            <thead>
            <tr>
                <th>Edit Your Contact Information</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="email" disabled data-bind="value: email" placeholder="Email"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" data-bind="value: first" placeholder="First Name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" data-bind="value: last" placeholder="Last Name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="tel" data-bind="value: phone" placeholder="Phone"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ops-buttons">
            <div data-role="button" data-bind="click: onSaveContact">Save</div>
        </div>
    </div>
    <div data-role="modalview" id="modalview-password" style='height:60%;width:90%;border:1px solid #555;'>
        <table class="foodsby-form m-password">
            <thead>
            <tr>
                <th>Change Your Password</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="password" data-bind="value: currentPassword" placeholder="Current Password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" data-bind="value: newPassword1" placeholder="New Password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" data-bind="value: newPassword2" placeholder="Confirm New Password"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ops-buttons">
            <div data-role="button" data-bind="click: onCancelPassword">Cancel</div>
            <div data-role="button" data-bind="click: onSavePassword">Save</div>
        </div>
    </div>
</div>