<div id="register-view" data-init="app.views.register.init"
     data-before-show="app.views.register.beforeShow"
     data-show="app.views.register.show"
     data-role="view" data-title="Register"
     data-model="app.views.register.viewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-transition="slide:left reverse"
               data-role="backbutton">Cancel</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <div class="view-content">
        <table class="foodsby-form account">
            <thead>
            <tr>
                <th>Account Information</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="email" data-bind="value: email" placeholder="Email"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" data-bind="value: password" placeholder="Password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" data-bind="value: confirm" placeholder="Confirm Password"/>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="foodsby-form terms">
            <thead>
            <tr>
                <th>
                    Foodsby Terms & Conditions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class='f-click'>
                    <input data-bind="checked: terms" type="checkbox"/>
                    <label>I have read and agree to <a data-bind="click: onTerms" href="#terms-view">Foodsby terms and conditions</a></label>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="ops-buttons">
            <div data-role="button" class="register" data-bind="click: onRegister">Register</div>
        </div>
    </div>
</div>